body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  background-color: #ffffff;
}
h1 {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  background-color: #2e2f42;
  text-align: center;
  letter-spacing: 0.02em;
}
h2 {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
h3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
ul {
  list-style: none;
  background-color: #ffffff;
}
a {
  text-decoration: none;
  color: #2e2f42;
}
a:hover {
  color: #404bbf;
}
a:active {
  color: #404bbf;
  text-decoration: underline;
}
.web {
  font-family: Raleway;
  color: #4d5ae5;
  font-size: 18;
  font-weight: 700;
}
.studio {
  font-family: Raleway;
  color: #2e2f42;
  font-size: 18;
  font-weight: 700;
}
button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
button:hover {
  background-color: #404bbf;
}
button:focus {
  background-color: #404bbf;
}
.team {
  background-color: #f4f4fd;
}
.order {
  background-color: #ffffff;
}
.business {
  background-color: #2e2f42;
}
.footer {
  background-color: #2e2f42;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-studio {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
}
